<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="one.css" />
  </head>
  <body>
    <!-- section 1 -->
    <section class="one">
      <nav class="first">
        <a class="anc" href=""><div class="navbar">Home</div></a>
        <a class="anc" href=""><div class="navbar">Sevices</div></a>
        <a class="anc" href=""><div class="navbar">About</div></a>
        <a class="anc" href=""><div class="navbar">Contact Us</div></a>
      </nav>
    </section>
    <br />
    <hr />

    <!-- section 2 -->
    <section class="two">
      <main class="second">
        <div class="barmain">1</div>
        <div class="barmain">2</div>
        <div class="barmain">3</div>
        <div class="barmain">4</div>
      </main>
    </section>
  </body>
</html>
